<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {partialHead: partialHead}) %>
<body>
    <%- include('./partials/header.ejs') %>

    <img id="banner" src="./images/img-home-banner.jpg">
    <main class="homeMain">
        <section class='last-visited'>
            <b><h3>Basado en tu última visita</h3></b>
            <% productos.forEach(producto => { %>
                <div class="producto">
                    <img src='./images/<%= producto.img %>' alt='imagen <%= producto.title %>' >
                        
                    <div class="detalle"> 
                        <i id="envio" class="fas fa-shipping-fast icono-carrito"></i>
                        <section class="pricediscount">
                            <p class="price"><%= producto.precio %></p>
                            <p class="discount"><%= producto.discount %></p>
                        </section>
                        <a href="./products/detail/<%= producto.id %>"><b class="productTitle" ><p><%= producto.title %></p></b></a>
                    </div>
                </div>
                <% }) %>
        </section>

        <section class='offers'>
            <b><h3>Ofertas</h3></b>
            <% productos.forEach(producto => { %>
            <div class="producto">
                <img src='./images/<%= producto.img %>' alt='imagen <%= producto.title %>' >
                    
                <div class="detalle"> 
                    <i id="envio" class="fas fa-shipping-fast icono-carrito"></i>
                    <section class="pricediscount">
                        <p class="price"><%= producto.precio %></p>
                        <p class="discount"><%= producto.discount %></p>
                    </section>
                    <a href="./products/detail/<%= producto.id %>"><b class="productTitle" ><p><%= producto.title %></p></b></a>
                </div>
            </div>
            <% }) %>
        </section>

    </main>
<%- include('./partials/footer.ejs') %>
</body>
</html>